body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.add_inputs{
  display: flex;
  justify-content: center;
  background: linear-gradient(#372e97, rgb(156, 116, 116));
  height: 500px;
}
.add_inputs form {
  display: flex;
  width: 320px;
  flex-direction: column;
}


/* main page start */
.main{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left-sidebar{
  width: 20%;
}

.content{
  width: 80%;
}
.content-block{
  display: flex;
  flex-wrap: wrap;
}
/* main page end */